<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gbai.dao.book.BookMapper">
<resultMap id="uMap" type="com.gbai.entity.Book">
		<id column="b_id" property="bId" />
		<result column="b_name" property="bName" />
	</resultMap>
    <select id="selectAllBook" resultMap ="uMap">
        SELECT * FROM book
    </select>

</mapper>