<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmi.esign.dao.ContractInfoMapper">
  <resultMap id="BaseResultMap" type="com.dianmi.esign.model.ContractInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CONTRACT_UUID" jdbcType="VARCHAR" property="contractUuid" />
    <result column="CONTRACT_ID" jdbcType="INTEGER" property="contractId" />
    <result column="SIGN_ENT" jdbcType="INTEGER" property="signEnt" />
    <result column="SIGN_ENT_INFO" jdbcType="VARCHAR" property="signEntInfo" />
    <result column="UNION_ID" jdbcType="VARCHAR" property="unionId" />
    <result column="STAFF_NAME" jdbcType="VARCHAR" property="staffName" />
    <result column="CONTRACT_TYPE" jdbcType="VARCHAR" property="contractType" />
    <result column="BEGIN_DATE" jdbcType="VARCHAR" property="beginDate" />
    <result column="END_DATE" jdbcType="VARCHAR" property="endDate" />
    <result column="SIGN_DATE" jdbcType="VARCHAR" property="signDate" />
    <result column="CONTRACT_SAL" jdbcType="VARCHAR" property="contractSal" />
    <result column="JOB_POST" jdbcType="VARCHAR" property="jobPost" />
    <result column="JOB_CITY" jdbcType="VARCHAR" property="jobCity" />
    <result column="SIGN_STATUS" jdbcType="VARCHAR" property="signStatus" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>