<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmi.esign.dao.EnterprisePositionMapper">
  <resultMap id="BaseResultMap" type="com.dianmi.esign.model.EnterprisePosition">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ENT_NO" jdbcType="VARCHAR" property="entNo" />
    <result column="ENT_NAME" jdbcType="VARCHAR" property="entName" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>