<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmi.esign.dao.OptLogMapper">
  <resultMap id="BaseResultMap" type="com.dianmi.esign.model.OptLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="bean_name" jdbcType="VARCHAR" property="beanName" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
    <result column="spent_time" jdbcType="BIGINT" property="spentTime" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
    <result column="result" jdbcType="LONGVARCHAR" property="result" />
  </resultMap>
</mapper>