<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmi.esign.dao.SignAccountInfoMapper">
  <resultMap id="BaseResultMap" type="com.dianmi.esign.model.SignAccountInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ACCOUNT_UUID" jdbcType="VARCHAR" property="accountUuid" />
    <result column="ACCOUNT_USERNAME" jdbcType="VARCHAR" property="accountUsername" />
    <result column="ACCOUNT_PASSWORD" jdbcType="VARCHAR" property="accountPassword" />
    <result column="ACCOUNT_ROLE" jdbcType="VARCHAR" property="accountRole" />
    <result column="BELONG_ENT_ID" jdbcType="INTEGER" property="belongEntId" />
    <result column="E-MAIL" jdbcType="VARCHAR" property="eMail" />
    <result column="PHONE_NUMBER" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>