<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmi.esign.dao.SignEntInfoMapper">
  <resultMap id="BaseResultMap" type="com.dianmi.esign.model.SignEntInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SIGN_ENT_ID" jdbcType="INTEGER" property="signEntId" />
    <result column="SIGN_ENT_NAME" jdbcType="VARCHAR" property="signEntName" />
    <result column="ENT_ID" jdbcType="INTEGER" property="entId" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_CODE" jdbcType="VARCHAR" property="certCode" />
    <result column="LEGAL_NAME" jdbcType="VARCHAR" property="legalName" />
    <result column="LEGAL_IDNO" jdbcType="VARCHAR" property="legalIdno" />
    <result column="ENT_ACCOUNT_NAME" jdbcType="VARCHAR" property="entAccountName" />
    <result column="ENT_CARDNO" jdbcType="VARCHAR" property="entCardno" />
    <result column="ENT_SUBBRANCH" jdbcType="VARCHAR" property="entSubbranch" />
    <result column="ENT_BANK" jdbcType="VARCHAR" property="entBank" />
    <result column="BANK_PROVICE" jdbcType="VARCHAR" property="bankProvice" />
    <result column="BANK_CITY" jdbcType="VARCHAR" property="bankCity" />
    <result column="ENT_ACCOUNT_ID" jdbcType="VARCHAR" property="entAccountId" />
    <result column="SERVICE_ID" jdbcType="VARCHAR" property="serviceId" />
    <result column="NOTIFY_URL" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="ENT_PRCPTCD" jdbcType="VARCHAR" property="entPrcptcd" />
    <result column="PIZID" jdbcType="VARCHAR" property="pizid" />
    <result column="PAYED_TIME" jdbcType="VARCHAR" property="payedTime" />
    <result column="APPROV_STATUS" jdbcType="VARCHAR" property="approvStatus" />
    <result column="APPROV_FAIL_MSG" jdbcType="VARCHAR" property="approvFailMsg" />
    <result column="ELE_SEAL" jdbcType="VARCHAR" property="eleSeal" />
    <result column="staff_count" jdbcType="INTEGER" property="staffCount" />
    <result column="tpl_count" jdbcType="INTEGER" property="tplCount" />
    <result column="contract_count" jdbcType="INTEGER" property="contractCount" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>