<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmi.esign.dao.SignStaffInfoMapper">
  <resultMap id="BaseResultMap" type="com.dianmi.esign.model.SignStaffInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STAFF_ID" jdbcType="VARCHAR" property="staffId" />
    <result column="STAFF_UUID" jdbcType="VARCHAR" property="staffUuid" />
    <result column="STAFF_NAME" jdbcType="VARCHAR" property="staffName" />
    <result column="STAFF_GENDER" jdbcType="VARCHAR" property="staffGender" />
    <result column="STAFF_AGE" jdbcType="VARCHAR" property="staffAge" />
    <result column="STAFF_STATUS" jdbcType="VARCHAR" property="staffStatus" />
    <result column="PHONE_NUMBER" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="E_MAIL" jdbcType="VARCHAR" property="eMail" />
    <result column="ID_NUM" jdbcType="VARCHAR" property="idNum" />
    <result column="BANK_NUM" jdbcType="INTEGER" property="bankNum" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="EME_CONTACT" jdbcType="VARCHAR" property="emeContact" />
    <result column="EME_NUMBER" jdbcType="VARCHAR" property="emeNumber" />
    <result column="ENT_ID" jdbcType="INTEGER" property="entId" />
    <result column="SERVICE_ID" jdbcType="VARCHAR" property="serviceId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>